.fas.fa-edit {
    color: #7707c2;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

    .fas.fa-trash {
        color: #7707c2;
        cursor: pointer;
        margin: 5px;
        font-size: 20px;
        float: right;
    }
